<div>
    <l-map :center="stop.location" :zoom=17 :options="{ zoomControl: false, dragging: false }">
<!--        <l-tile-layer url="//{s}.tile.osm.org/{z}/{x}/{y}.png"-->
<!--                      attribution='&copy; <a href="//osm.org/copyright">OpenStreetMap</a> contributors'/>-->
        <L-vector-layer url="https://api.maptiler.com/maps/bright/style.json?key=8GX5FRUNgk4lB83GZT8Q"
                        token="not-needed"
                        attribution='<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>'
        />
        <l-marker :lat-lng="stop.location"/>
    </l-map>
</div>
