<li>
    <div class="departure">
        <div class="departure__line">
            <line-symbol :line="departure.line"/>
            <div class="line__display">{{ departure.display }}</div>
        </div>

        <div class="departure__time">
            <template v-if="!departure.estimated">
                <ui-tooltip placement="top-end">Czas rozkładowy, nieuwzględniający aktualnej sytuacji komunikacyjnej.</ui-tooltip>
                <ui-icon icon="departure-warning" class="mr-1"/>
            </template>

            <template v-if="!relativeTimes">
                <span :class="[ 'departure__time', 'departure__time--delayed']" v-if="timeDiffers">
                    {{ departure.scheduled.format('HH:mm') }}
                </span>
                <span class="badge" :class="[departure.delay < 0 ? 'badge-danger' : 'badge-warning']"
                      v-if="departure.delay < 0 || departure.delay > 30">
                    {{ $f.signed(departure.delay) }}s
                </span>

                <span class="departure__time">{{ time.format('HH:mm') }}</span>
            </template>
            <template v-else>
                {{ $f.duration(timeLeft).humanize(true) }}
            </template>
        </div>

        <div class="departure__stop">
            <ui-icon icon="stop" fixed-width class="mr-1 flex-shrink-0"/>
            <stop-label :stop="departure.stop"/>

            <div class="stop__actions flex-space-left">
                <button class="btn btn-action" @click="showTrip = !showTrip">
                    <ui-tooltip>pokaż/ukryj trasę</ui-tooltip>
                    <ui-icon icon="track" />
                </button>
            </div>
        </div>
    </div>
    <ui-fold :visible="showTrip">
        <trip-schedule :schedule="trip.schedule" :current="departure.stop" v-if="trip" :class="[ `trip--${departure.line.type}` ]"/>
        <div v-else class="text-center">
            <ui-icon icon="spinner"/>
        </div>
    </ui-fold>
</li>
