<div class="finder__stop">
    <div class="d-flex">
        <slot name="primary-action" />
        <div class="overflow-hidden align-self-center">
            <stop :stop="stop" class="my-1"/>
            <div class="stop__destinations" v-if="stop.destinations && stop.destinations.length > 0">
                <fa :icon="['far', 'chevron-right']" />
                <ul class="ml-1">
                    <li class="stop__destination" v-for="destination in stop.destinations" :key="destination.id">{{ destination.name }}</li>
                </ul>
            </div>
        </div>

        <div class="stop__actions flex-space-left">
            <slot name="actions">
                <button class="btn btn-action" ref="action-info" @click="details = !details">
                    <tooltip>dodatkowe informacje</tooltip>
                    <fa :icon="['fal', details ? 'chevron-circle-up' : 'info-circle']"/>
                </button>

                <button class="btn btn-action" ref="action-map" v-hover:map>
                    <fa :icon="['fal', 'map-marker-alt']"/>
                </button>
            </slot>
        </div>
    </div>
    <fold :visible="details" class="stop__details-fold" lazy>
        <stop-details :stop="stop"/>
    </fold>

    <popper reference="action-map" v-show="showMap" arrow class="popper--no-padding" style="width: 500px;" placement="right-start" v-hover:inMap>
        <lazy :activate="showMap">
            <stop-map :stop="stop" style="height: 300px"/>
        </lazy>
    </popper>
</div>
