.btn {
  &.btn-action {
    @extend .btn-link;

    color: black;

    &:hover, &:active, &:focus {
      text-decoration: none;
    }

    &:focus {
      outline: 2px solid rgba($blue, .2);
    }
  }

  &.btn-xs {
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
  }

  border-radius: 1.5px;

  display: inline-block;

  &.btn-outline-action {
    @extend .btn-outline-dark;
  }

  &.btn-primary {
    background: $primary-gradient;
    border-color: transparent;

    &:hover {
      border: 1px $primary solid;
    }
  }

  &.btn-danger {
    background: $danger-gradient;
    border-color: transparent;

    &:hover {
      border: 1px $danger solid;
    }
  }
}
