%option {
  padding: 0.6 * $spacer 0.8 * $spacer;
}

%action {
  padding: 0.6 * $spacer 0.8 * $spacer;
  font-size: 1rem;

  &:hover {
    background-color: rgba(black, 0.05);
  }

  &:active {
    background-color: rgba(black, 0.1);
  }
}

.ui-select {
  border-radius: 20px;

  &__control {
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }

  &__options {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
  }

  &__options-popup {
    @extend .ui-popup;

    width: 100%;
    padding: 0;
    margin-bottom: $spacer;
  }

  &__option {
    @extend %option;

    cursor: pointer;

    &--hovered {
      background: rgba(black, 0.05);
    }

    &--selected {
      @extend %option;

      flex: 1 1 auto;
    }

    &--empty {
      font-weight: 700;
      display: grid;
      align-items: center;
    }
  }

  &__toggle, &__clear {
    @extend %action;
  }
}
