<ul class="messages list-unstyled">
    <li class="message alert" :class="`alert-${type(message)}`" v-for="message in messages">
        <ui-icon :icon="`message-${type(message)}`" fixed-width />
        {{ message.message }}

        <div class="message__info">
            <small class="message__date">
                Komunikat ważny od
                {{ message.validFrom.format('HH:mm') }}
                do
                {{ message.validTo.format('HH:mm') }}
            </small>
        </div>
    </li>
</ul>
