.list-underlined {
  @extend .list-unstyled;

  > li {
    border-bottom: 1px solid $dark;
    padding: 2px 0;
  }
}

.flex-space-left {
  margin-left: auto;
}

.flex-space-right {
  margin-right: auto;
}

.alert {
  border-width: 0;
  background: transparent;

  @each $color, $value in $theme-colors {
    &.alert-#{$color} {
      border-bottom: 2px solid theme-color-level($color, $alert-color-level);
      transition: background-color ease 200ms;

      &:hover {
        background-color: rgba(theme-color-level($color, $alert-bg-level), .5);
      }
    }
  }
}

.fold {
  overflow-y: hidden;
  overflow-x: hidden;

  transition: height 250ms ease;
  will-change: height;
  box-sizing: padding-box;
}

.flex {
  display: flex;
  align-items: center;
}

.section__title {
  @extend .alert;
  @extend .alert-dark;

  font-size: medium;
  background: transparent;
  padding-top: .5rem;
  padding-bottom: .5rem;

  &:hover {
    background: none;
  }
}