.btn {
  &.btn-action {
    @extend .btn-link;

    color: black;

    &:hover, &:active, &:focus {
      text-decoration: none;
    }

    &:focus {
      outline: 2px solid rgba($blue, .2);
    }
  }

  border-radius: 1.5px;

  display: inline-block;

  &.btn-outline-action {
    @extend .btn-outline-dark;
  }

  &.btn-primary {
    background: $primary-gradient;
    border-color: transparent;

    &:hover {
      border: 1px $primary solid;
    }
  }
}
