.line {
  @extend .flex;
}

.line__symbol {
  @each $type, $color in $line-types {
    .icon {
      padding: 0 .2rem;
    }

    &.line--#{$type} .icon {
      background-color: $color;
      color: color-yiq($color);
    }
  }
}

.track {
  @extend .flex;
  flex-shrink: 0;
  flex-grow: 0;

  .track__line {
    width: 6rem;
    flex-shrink: 0;
  }

  .track__description {
    flex: 1 1 auto;
    white-space: normal;
  }
}