.stop, .stop-group__header {
  @extend .flex;

  flex-wrap: wrap;
}

.stop__name {
}

.stop__description {
  margin: 0 .5rem;
}

.stop__actions {
  display: flex;
}

.stop__details {
  flex-basis: 100%;
  .fold__inner { padding-bottom: .75rem; }
}

.stop-group__name {
  font-size: $font-size-base;
  font-weight: bold;

  margin-bottom: 0;
}

.stop__tracks .line__symbol .badge {
  flex-grow: 1;
}