{% extends 'base.html.twig' %}
{% block title "#{parent()} - #{provider.name}" %}
{% block manifest path('provider_manifest', { provider: provider.identifier }) %}

{% block body %}
    <main id="app" class="container not-ready">
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        window.data = {
            provider: {{ provider.identifier|json_encode|raw }}
        };

        window.app = {};
        window.app.state = {{ state|json_encode|raw }};
    </script>
{% endblock %}
