<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ asset('main.css') }}" />
        <link rel="manifest" href="{% block manifest 'manifest.json' %}" />

        <!-- icons -->
        <link rel="icon" href="images/favicon.png" sizes="16x16" />
        <link rel="icon" href="images/favicon-2x.png" sizes="32x32" />
        <link rel="icon" href="images/favicon.ico" />

        <!-- Apple shit -->
        <link rel="apple-touch-icon" href="images/ios.png" sizes="512x512">
        <link rel="apple-touch-icon" href="images/ios-80.png" sizes="80x80">
        <link rel="apple-touch-icon" href="images/ios-192.png" sizes="192x192">
        <meta name="apple-mobile-web-app-title" content="Czy Dojadę?">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <title>{% block title %}Czy dojadę?{% endblock %}</title>
    </head>
    <body>
        <main role="main" class="container" id="app">
            {% block body %}{% endblock %}
        </main>
        <footer class="container">
            {% block footer %}
                <span class="copyright flex flex-space-left">
                    brought to you by
                    <a href="https://kadet.net"><img src="{{ asset('images/kadet-net-logo.png') }}" alt="kadet.net logo" class="mx-1"/></a>
                    &copy; {{ 'now'|date('Y') }}
                </span>
            {% endblock %}
        </footer>

        {% block javascripts %}{% endblock %}
        <script src="{{ asset('bundle.js') }}"></script>
    </body>
</html>
