{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-primary">
        <fa :icon="['fal', 'info-circle']"></fa>
        Wybierz źródło danych
    </div>
    <ul class="list-underlined">
        {% for provider in providers %}
            <li title="Aktualizacja: {{ provider.lastUpdate ? provider.lastUpdate.format('Y.m.d H:i') : 'live' }}">
                <a href="{{ path('app', { provider: provider.identifier }) }}" class="btn btn-block btn-action text-left">
                    {{ provider.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}