{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-primary">
        <fa :icon="['fal', 'info-circle']"></fa>
        Wybierz źródło danych
    </div>
    {% for provider in providers %}
        <a href="{{ path('app', { provider: provider.identifier }) }}">{{ provider.name }}</a>
    {% endfor %}
{% endblock %}