<div class="input-group input-group-sm">
    <input type="text" class="form-control form-control-sm" :id="id" inputmode="numeric" v-bind="$attrs" :value="value" @blur="update"/>
    <div class="input-group-append">
        <button class="btn btn-addon" type="button" @click="increment" :disabled="!canIncrement">
            <ui-icon icon="increment"/>
        </button>
        <button class="btn btn-addon" type="button" @click="decrement" :disabled="!canDecrement">
            <ui-icon icon="decrement"/>
        </button>
    </div>
</div>
