<span class="line__symbol flex" :class="{ [`line--${line.type}`]: true, 'line--night': line.night, 'line--fast': line.fast }">
    <span class="flex align-items-stretch">
        <slot name="icon" v-if="!simple">
            <span class="icon">
                <ui-icon :icon="`line-${line.type}`" fixed-width/>
            </span>
        </slot>
        <slot name="badge">
            <span class="badge badge-dark flex">
                <ui-icon icon="night" fixed-width v-if="line.night && !simple"/>
                {{ line.symbol }}
                <ui-icon icon="fast" v-if="line.fast"/>
            </span>
        </slot>
    </span>
</span>
