<div class="trip">
    <ol class="trip__stops" v-dragscroll.x="!$isTouch" ref="stops">
        <li v-for="stop in stops" class="trip__stop" :class="[ stop.current && 'trip__stop--current', stop.visited && 'trip__stop--visited' ]">
            <div class="trip__marker"/>
            <div class="trip__description">
                <app-stop :stop="stop.stop"/>
            </div>
            <div class="trip__departure">
                {{ stop.departure.format('HH:mm') }}
            </div>
        </li>
    </ol>
</div>
